name: CI - Docker Build

on:
  push:
    branches: [ "master" ]

jobs:
  docker-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t minishop-ops:ci ./app
